
<body>

<div>
  <div class="dbody">
    <div class="row">
      <div class="col-md-12">

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Beautiful Bridge</h3>
      <p>A amazing picture that display the depths of crossing into the unknow</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>The Wild</h3>
      <p>Bears looking at the beautiful snow in the landscape</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Green Hills</h3>
      <p>When the landscape presents itself with a combination of the sky</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random forth slide">
    </div>
    <div class="carousel-caption">
      <h3>The Sea Shore</h3>
      <p>A calming picture of the ocean.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[4]" alt="Random fith slide">
    </div>
    <div class="carousel-caption">
      <h3>Water corse</h3>
      <p>This picture showcase the course of the river in the most oustanding way</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[5]" alt="Random six slide">
    </div>
    <div class="carousel-caption">
      <h3>The Island</h3>
      <p>An Island in the middle of the sea.</p>
    </div>
  </ng-template>

</ngb-carousel>
</div>
</div>
</div>


</div>
</body>