.background{
    background-color: transparent;
}
img{
    box-shadow: rgba(45, 35, 66, 0.4) 5px;
}

h3{
    font-family: "JetBrains Mono",monospace;
    font-size: large;
    text-decoration: none;
    color: #36395A;
    
}