<body>
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card card-style1 border-0">
                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/83849351_10206784372163856_6194777368498798592_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=vt4ixV8OW5sAX-lEdB9&_nc_ht=scontent-lax3-1.xx&oh=00_AT8Kl2g7YTD-9KyT1MvDmXUr9kB4no1yPJuE625QQdPbgA&oe=62F4F08D"
                                        alt="Profile-Pic" style="max-height: 400px;">
                                </div>
                                <div class="col-lg-6 px-xl-10">
                                    <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h2 text-white mb-0">Valter Barreto</h3>
                                        <span class="text-primary">Software Engineer</span>
                                    </div>
                                    <ul class="list-unstyled mb-1-9">
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Position:</span>
                                            Software Engineer Project Manager</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Experience:</span>
                                            10 Years</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Email:</span>
                                            valter.barreto@imail.org</li>
                                        <li class="display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                                            801-608-7420</li>
                                    </ul>
                                    <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                        <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                        <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div>
                        <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
                        <p>I am a thriving project manager who gets the best out of people and projects. I am
                            experienced in information technology, construction, healthcare, and marketing and
                            experienced in keeping projects or programs on schedule and within scope and budget, working
                            toward high efficiencies and flawless execution.</p>
                        <p class="mb-0">I am an experienced Project Manager who thrives in difficult and hard-to-solve
                            problems, and I am experienced in various industries, including non-profit, education,
                            hospital, and as an entrepreneur.</p>
                        <p class="mb-0">My background is mainly in IT infrastructure projects, including remodeling, new
                            construction, application deployment, and agile software engineering projects. My experience
                            in the past years involves many methodologies: waterfall, agile and traditional. I am a
                            leader with experience gathering and implementing requirements. In addition, I have a solid
                            and friendly personality that allows me to thrive in creating long-lasting friends and
                            partners in the industry.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 mb-4 mb-sm-5">
                            <div class="mb-4 mb-sm-5">
                                <span class="section-title text-primary mb-3 mb-sm-4">Skill</span>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Managing</div>
                                        <div class="col-6 text-end">90%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Software Development</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Scrum Master</div>
                                        <div class="col-6 text-end">85%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Project Manager</div>
                                        <div class="col-6 text-end">95%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div>
                                <span class="section-title text-primary mb-3 mb-sm-4">Education</span>

                                <p>Bachelor's degree in Computer Software Engineering </p>
                                <a class="button-30" href="https://www.byui.edu/">
                                    <img  src="https://media-exp2.licdn.com/dms/image/C4D0BAQERUuJFg9PfSA/company-logo_100_100/0/1519856053132?e=1666224000&v=beta&t=pO4ZZ_wTZZM72iIIP7jyXnPMsOcgpede7Gopn70VKa0"
                                        style="max-height: 50px;" >BYU Idaho University
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>