<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            
        </div>
        <div class="row">
           
            <div class="pull-right pad-left-right">
                <a class="button-30" [routerLink]="['new']">Add Picture</a>
            </div>
        </div>
        <hr>
        <div class="input-group pull-left pad-left-right col-xs-7">

            <input class="form-control" name="searchBox" placeholder="Enter a search value"
                (keyup)="search(searchBox.value)" #searchBox>

            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <!-- <app-picture-item *ngFor='let pictureEl of pictures|picturesFilter:term' [picture]="pictureEl" >
                    </app-picture-item> -->
                </div>
            </div>
        </div>

    </div>
</div>


</body>